<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Feature">
            <directory>./tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <coverage/>
    <php>
        <!-- Esta línea es la clave para solucionar el problema. -->
        <env name="APP_KEY" value="base64:XG8dF5pLg3nFvYqN/iP0JgG7kM2j8u5wB2eH3wS7w=="/>
    </php>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
</phpunit>
